.titulo1{
    font-size: 55px;
    margin-left: 1%;
}

.p1{
    font-size: 20px;
    margin-left: 1%;
}

.titulo2{
    font-size: 55px;
    margin-left: 1%;
}

.p2{
    font-size: 20px;
    margin-left: 1%;
}

 img {
    width: 250px;
    height: 250px;
    margin-left: 10%;
   
}

